@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
    color-scheme: inherit;
}

html,
body {
    color: #000;
    background: #fff;
}

[data-theme='dark'],
[data-theme='dark'] body {
    color: #fff;
    background: #000;
}